# Node modules
node_modules/
frontend-nuevo/node_modules/
backend/node_modules/

# Entornos
.env
.env.*
frontend-nuevo/.env
backend/.env

# Archivos de log y build
*.log
dist/
build/

# Otros
.vscode/
.DS_Store
Thumbs.db
